# docker-compose.yml
version: '3.9'

services:
  backend:
    build: ./backend
    command: sh -c "
      python manage.py migrate &&
      python manage.py load_knowledge &&
      celery -A chatbot_backend worker -l info &
      celery -A chatbot_backend beat -l info &
      gunicorn chatbot_backend.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - ./backend:/app
      - faiss_data:/app/vector_store
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
    depends_on:
      - redis
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  faiss_data: